html {
  width: 100%;
  height: 100%;
}

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cy {

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 20%;
}

.con {
    height: 20%;
    position: absolute;

}


#Play {
    width: 5%;
    height: 4%;
    font-size:130%;
    position: absolute;
    top: 95%;
    left: 10%;
}

#Reset {
    width: 5%;
    height: 4%;
    font-size:130%;
    position: absolute;
    top: 95%;
    left: 16%;
}
#colorbar {
    height: 50px;
    width: 220px;
    position: absolute;
    top: 85%;
    left: 10%;
    /*border:1px solid black;*/
}


#range{
    width:80%;
    height:25px;
    top:91%;
    left:10%;
    border:1px solid black;
    position:absolute;
}

#textInput{
    width:10%;
    height:5%;
    top:94.5%;
    left:24%;
    font-size:120%;
    border:0px solid black;
    position:absolute;
}

#reset_fit {
    width: 3em;
    margin: 0.5em;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
}

#reset_fit i {
    transform: rotate(45deg);
}

#zoom {
    width: 3em;
    margin: 0.5em;
    position: absolute;
    z-index: 999;
    top: 7%;
    right: 0;
}

#zoom i {
    transform: rotate(45deg);
}

#slidecontainer {
    width: 100%;
    height: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*#bar{*/
/*width:1000px;*/
/*height:25px;*/
/*top:1000px;*/
/*left:100px;*/
/*border:1px solid black;*/
/*position:relative;*/
/*}*/

/*#slider{*/
/*width:0%;*/
/*height:100%;*/
/*background-color:red;*/
/*top:0px;*/
/*left:0px;*/
/*position:absolute;*/
/*cursor:pointer;*/
/*}*/