---
name: Continuous Integration
on: [push, pull_request]

jobs:
  tests_coverage:
    name: Tests & Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        exclude:
          # Fails due to Atomizer linker/runtime issue
          - os: windows-latest
            python-version: 3.7
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: .github/pysb-conda-env.yml
          activate-environment: pysb
      - name: Install StochKit (except on Windows)
        if: matrix.os != 'windows-latest'
        run: conda install -y -c alubbock stochkit
      - name: Install StochKit Lite (Windows only)
        if: matrix.os == 'windows-latest'
        run: conda install -y -c alubbock -c conda-forge stochkit-lite
      - name: Fix gfortran DLL linker error on Windows/Python 3.8
        if: matrix.os == 'windows-latest' && matrix.python-version == '3.8'
        run: pip install --upgrade --force-reinstall scipy
      - name: Conda environment info
        run: |
          conda info
          conda list
      - name: Build PySB
        run: python setup.py build --build-lib=build/lib
      - name: Run nosetests
        run: >
          nosetests
          build/lib/pysb
          --with-coverage --cover-inclusive --cover-package=build/lib/pysb
          --cover-xml
          -a '!gpu'
      - uses: codecov/codecov-action@v3
        with:
          verbose: true
          flags: os-${{ matrix.os }},python-${{ matrix.python-version }}
